#strona
{
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
	background-color: green;
}
body
{ 
	background-color:lightgreen;
}
a
{	
	color:white;
}
div.banner
{
	height:180px;
	text-align: center;
	margin: 20px 20px 20px 20px;
	background-color: rgb(255, 213, 162);
}
div.menu{
	
	width: 1000px;
	height: 28px;
	position: relative;
	display: inline-block;
	color: white;
	
}

div.blok_glowny{
	background-color:green;
	min-height: 400px;
	text-indent:20px;
	margin-top:-10px;
	
}
div.blok_tresc{
	min-height:350px;
	margin-top:20px;
}
#stopka{
	/*clear: both;*/
	background-color: lightblue;
	color: red;
	width: 800px;
	font-size: 12px;
	font-family: Courier;
	text-align: center;
	
}
ol{
	font-weight: bold;
}
